## 기술 통계량 계산 및 요약

In [2]:
import pandas as pd
import numpy as np
데 = pd.DataFrame([[1.5, np.nan], [7.1, -4.5], [np.nan, np.nan], [0.75, -1.3]], index=list('abcd'), columns=['하나','둘'])
데

     하나    둘
a  1.50  NaN
b  7.10 -4.5
c   NaN  NaN
d  0.75 -1.3

In [3]:
#데이터프레임의 sum 메소드 - 열에 대한 합을 시리즈로 반환
데.sum()

하나    9.35
둘    -5.80
dtype: float64

In [4]:
데.sum(axis=1)

a    1.50
b    2.60
c    0.00
d   -0.55
dtype: float64

In [5]:
데.sum(axis='columns')

a    1.50
b    2.60
c    0.00
d   -0.55
dtype: float64

In [6]:
#NA 값들은 계산할 때 기본적으로 제외된다. 
#skipna= 인자를 추가함으로 계산시 적용할 수 있다.
데.sum(axis='columns', skipna=False)

a     NaN
b    2.60
c     NaN
d   -0.55
dtype: float64

`idxmin` 또는`idxmax` 메소드들은 주어진 축의 값중 가장 큰 값 또는 가장 작은 값을 포함하는 인덱스 이름을 반환한다.

In [7]:
데.idxmax()

하나    b
둘     d
dtype: object

In [8]:
데.cumsum()

     하나    둘
a  1.50  NaN
b  8.60 -4.5
c   NaN  NaN
d  9.35 -5.8

In [9]:
데.describe()

             하나         둘
count  3.000000  2.000000
mean   3.116667 -2.900000
std    3.469990  2.262742
min    0.750000 -4.500000
25%    1.125000 -3.700000
50%    1.500000 -2.900000
75%    4.300000 -2.100000
max    7.100000 -1.300000

### 유일한 값, 빈도수, 포함관계

In [7]:
import pandas as pd
import numpy as np
시 = pd.Series(['ㄱ', 'ㄴ', 'ㄹ', 'ㄱ', 'ㄴ', 'ㄹ', 'ㄴ', 'ㄷ'])

In [8]:
유일 = 시.unique()
유일

array(['ㄱ', 'ㄴ', 'ㄹ', 'ㄷ'], dtype=object)

In [9]:
시.value_counts()

ㄴ    3
ㄱ    2
ㄹ    2
ㄷ    1
dtype: int64

In [10]:
pd.value_counts(시, sort=False)

ㄴ    3
ㄹ    2
ㄷ    1
ㄱ    2
dtype: int64

In [11]:
# isin 메소드를 이용해 값들이 시리즈 또는 데이터프레임의 열에 속했는지를 판단해 논리형 배열로 반환한다.
거름 = 시.isin(['ㄱ', 'ㄴ'])
거름

0     True
1     True
2    False
3     True
4     True
5    False
6     True
7    False
dtype: bool

In [12]:
데 = pd.DataFrame({'가': ['a', 'c', 'd', 'c', 'd'],
                  '나': ['b', 'c', 'a', 'b', 'c'],
                  '다': ['a', 'e', 'b', 'd', 'e']})
데

   가  나  다
0  a  b  a
1  c  c  e
2  d  a  b
3  c  b  d
4  d  c  e

In [13]:
데.apply(pd.value_counts).fillna(0)

     가    나    다
a  1.0  1.0  1.0
b  0.0  2.0  1.0
c  2.0  2.0  0.0
d  2.0  0.0  1.0
e  0.0  0.0  2.0